.team-details-container{
  width: 100%;

  .teams{
    display: flex;

    .team-1{
      width: 50%;
      .team-title{
        color: red;
      }

    }

    .team-2{
      width: 50%;
      .team-title{
        color: green;
      }
    }

    .add-form-container{
      .add-btn{
        padding-left: 150px;
        color: blue;
        font-size: 12px;
        cursor: pointer;
      }
    }
  }
}
